@using MMS.Models
@model LoginViewModel

@{
    ViewBag.Title = "Login";
}

<div class="row">
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="login-form">
                <div class="login-form_header">
                    <p>Login</p>
                </div>
                <center>
                    <img src="~/Content/Images/NewMember.png" class="img-circle img-thumbnail" />
                </center>
                @Html.ValidationSummary(true)
                <center>
                    <br>


                    @{

                        if (Request.Cookies["UserCredientials"] != null)
                        {
                            var username = Request.Cookies["UserCredientials"].Values["username"];
                            var password = Request.Cookies["UserCredientials"].Values["password"];

                            <div style="margin: 9px 10px; ">
                                <input class="form-control" data-val="true" data-val-required="The Username field is required." id="LoginUserName" name="LoginUserName" placeholder="User Name" value="@username" type="text" autocomplete="off">
                                <span class="field-validation-valid" data-valmsg-for="LoginUserName" data-valmsg-replace="true"></span>
                            </div>
                            <div style="margin: 9px 10px; ">
                                <input class="form-control" data-val="true" data-val-required="The Password field is required." id="LoginPassword" name="LoginPassword" placeholder="Password" type="password" value="@password">
                                <span class="field-validation-valid" data-valmsg-for="LoginPassword" data-valmsg-replace="true"></span>
                            </div>

                        }
                        else
                        {
                            <div style="margin: 9px 10px; ">
                                <input class="form-control" data-val="true" data-val-required="The Username field is required." id="LoginUserName" name="LoginUserName" placeholder="User Name" value="" type="text" autocomplete="off">
                                <span class="field-validation-valid" data-valmsg-for="LoginUserName" data-valmsg-replace="true"></span>
                            </div>
                            <div style="margin: 9px 10px; ">
                                <input class="form-control" data-val="true" data-val-required="The Password field is required." id="LoginPassword" name="LoginPassword" placeholder="Password" type="password">
                                <span class="field-validation-valid" data-valmsg-for="LoginPassword" data-valmsg-replace="true"></span>
                            </div>
                        }


                    }

                    <div style="margin: 9px 10px; ">
                        <input value="Login" class="btn btn-primary btn-lg btn-block" type="submit">
                    </div>
                </center>
                <div class="row" style="margin: 9px 0px 9px 6px;">
                    <div class="col-xs-12 col-sm-6 col-md-6 pull-left">
                        @{

                            if (Request.Cookies["UserCredientials"] != null)
                            {
                                @Html.CheckBoxFor(m => m.RememberMe, new { @checked = "checked" })
                            }
                            else
                            {
                                @Html.CheckBoxFor(m => m.RememberMe)
                            }
                        }

                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                    </div>
                    <div class="col-xs-6 col-md-6 pull-right" style="padding-top: 7px;">
                        @*<a>Forgot Password?</a>*@
                        <p>
                            @Html.ActionLink("Forgot Password?", "ForgotPassword", "Account")
                        </p>
                    </div>
                </div>
               

            </div>
            @* Enable this once you have account confirmation enabled for password reset functionality*@

                            }
    </section>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

