@using MMS.Models;
@{
    MMSCGVAKDBEntities db = new MMSCGVAKDBEntities();    
    var notify_result = db.sp_get_mms_notification(Convert.ToInt32(Session["LoggedUserId"])).ToList();
    var count = notify_result.Count;
}

@if (Session["LoggedUserId"] != null)
{
    <ul class="nav navbar-nav navbar-right pull-right notification_nav">
        <li class="dropdown active">
            <a aria-expanded="false" role="button" aria-haspopup="true" data-toggle="dropdown" class="dropdown-toggle" href="#" id="drop3">
                <span aria-hidden="true" class=" glyphicon glyphicon-bell"></span>
                <span class="cls-count"> @count </span>
            </a>         
            @if (count != 0 && count > 0)
            {
                <ul aria-labelledby="drop4" role="menu" class="dropdown-menu notification_cls">
                    @{
                        foreach (var res in notify_result)
                        {
                            var selectCount = db.sp_notification_count_message(@res.meeting_id).ToList();                            
                            <li role="presentation">                                
                                <a href="@Url.Action("Index", "MyTasks", new { meetingId = @res.meeting_id })">
                                    <span aria-hidden="true"></span>
                                    <b>@res.meeting_objective</b>
                                    <b>:</b>@res.meeting_date.Date.ToShortDateString()
                                    <br /><span>@selectCount[0]  Comments</span>
                                </a>
                            </li>
                            <li class="divider" role="presentation"></li>
                        }
                    }
                </ul>
             }
        </li>

        <li class="dropdown active" id="fat-menu">
            <a aria-expanded="false" role="button" aria-haspopup="true" data-toggle="dropdown" class="dropdown-toggle" href="#" id="drop3">
                <span aria-hidden="true" class="glyphicon glyphicon-user"></span>&nbsp;
                @Session["LoggedEmployeeName"].ToString() &nbsp;
                <span class="caret"></span>
            </a>
            <ul aria-labelledby="drop3" role="menu" class="dropdown-menu">
                <li role="presentation"><a href="@Url.Action("ChangePassword", "Account")"><span aria-hidden="true" class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Change Password</a></li>
                <li class="divider" role="presentation"></li>
                <li role="presentation"><a href="@Url.Action("LogOff", "Account")"><span aria-hidden="true" class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Log off</a></li>
            </ul>
        </li>
    </ul>
                    }
<style type="text/css">
    .notification_cls {
        height: 300px;
        overflow-y: scroll;
    }
</style>