@model MMS.Models.MeetingViewModel
@{
    ViewBag.Title = "View/Update Meetings";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    string startDateStr = ViewBag.StartDate;
    //string endDateStr = ViewBag.EndDate;
    string endDateStr = Convert.ToDateTime(ViewBag.EndDate).ToString("dd/MMM/yyyy");
    string sessionChairPerson = ViewBag.SessionName;
}

<div class="panel panel-primary">

    <div class="panel-heading">
        View/Update Meetings
    </div>


    <div class="panel-body">

        @using (Html.BeginForm("ViewMeetin", "CreateMeeting", FormMethod.Post, htmlAttributes: new { @class = "viewmeeting-form", @enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="form-group">

                    <div class="col-md-3 col-sm-4">
                        <div class="input-group">
                            <div class="input-group-addon input-md">Start Date</div>
                            @Html.Editor("assign_start_date", startDateStr, new { htmlattributes = new { @class = "datepick form-control input-sm fromDate", @readonly = "true", dateFormat = "dd/MMM/yyyy" } })
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="input-group">
                            <div class="input-group-addon input-md">End Date</div>
                            @Html.Editor("assign_end_date", endDateStr, new { htmlattributes = new { @class = "form-control input-sm toDate", @readonly = "true", dateFormat = "dd/MMM/yyyy" } })
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-4">
                        <div class="input-group">
                            <div class="input-group-addon input-md">Department</div>
                            @Html.DropDownListFor(model => model.mmsMeetingMaster.Meeting_Department, new SelectList(ViewBag.Departments, "DepartmentName", "DepartmentName"), "ALL", htmlAttributes: new { @id = "meeting_department", @class = "form-control Meeting_Department required" })
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 pull-right">
                        <div class="input-group pull-right">
                            <button id="btn_view_tasks" type="button" class="btn btn-primary btn-sm">View Meeting</button>

                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>


            </div>


            <div class="space" style="margin:10px 0px;"></div>

            <div class="row">

                <div class="space" style="margin:4% 0px;"></div>

                <div class="responsive-table">
                    <div id="grid-show-result" class="col-md-12">

                        <!--dynamic results fetched here-->
                    </div>
                </div>

            </div>

        }

    </div>
</div>



<style type="text/css">
    #modal-content .navbar, #modal-content .mms-footer-bar {
        display: none;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/customVal")
}

<script type="text/javascript">

    var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

    var start = new Date();
    start.setFullYear(start.getFullYear() - 70);
    var end = new Date();
    end.setFullYear(end.getFullYear() + 1);


    function getCustomDay(dayStr) {
        var day = parseInt(dayStr);
        if (day < 10)
            return '0' + dayStr;
        else
            return dayStr;
    }

    $(document).ready(function () {
        //$(".Meeting_duration").click(function () {
        //    $(".Meeting_duration").timepicker({
        //        timeFormat: 'HH:mm:ss',
        //        minTime: new Date(0, 0, 0, 1, 0, 0),
        //        maxTime: new Date(0, 0, 0, 12, 0, 0),
        //        startHour: 0,
        //        startTime: new Date(0, 0, 0, 1, 0, 0),
        //        interval: 30

        //    });
        //});

        //$(".meeting_hours").click(function () {
        //    $(".meeting_hours").timepicker({
        //        showPeriod: true,
        //        showLeadingZero: true,
        //        startTime: new Date(0, 0, 0, 9, 0, 0),
        //        interval: 15
        //    });
        //});
        //$(".toDate").datepicker({ autoclose: true });


        //Participants
        $("#meeting_department").on('change', function () {
            window.sessionStorage.setItem("meeting_department", this.value);
        });

        $(document).ready(function () {
            $("#meeting_department").val(window.sessionStorage.getItem("meeting_department"));
        });



        var d = new Date();
        var curr_date = d.getDate();
        var curr_month = d.getMonth() + 1;
        var curr_year = d.getFullYear();

        $(".fromDate").datepicker({
            autoclose: true,
            changeMonth: true, changeYear: true, dateFormat: 'dd/M/yy',
            onSelect: function (selected) {
                //console.log(selected);
                var dt = new Date(selected);
                dt.setDate(dt.getDate() + 1);
                // $(".toDate").datepicker("option", "minDate", dt);
            }
        });



        var d = new Date();
        var curr_date = d.getDate();
        var curr_month = month[d.getMonth()];
        var curr_year = d.getFullYear();


        $("#assign_start_date").val(1 + "/" + curr_month + "/" + curr_year);
        $("#assign_end_date").val(curr_date + "/" + curr_month + "/" + curr_year);

        $(".toDate").datepicker({
            autoclose: true, changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/M/yy',
            constrainInput: false,
            minDate: '@startDateStr',
            maxDate: end,
            yearRange: 2017 + ':' + end.getFullYear(),

            beforeShowDay: function (date) {
                var day = date.getDay();
                return [(day != 0), ''];
            },
            onSelect: function (selected) {
                //var dt = new Date(selected);
                //dt.setDate(dt.getDate() + 1);
                //$(".toDate").datepicker("option", "minDate", dt);


                var select = $('.toDate').val();

                $.get('@Url.Action("ViewMeeting", "CreateMeeting")', { select: select });

            }



        });
        getMeetingName();
        $("#btn_view_tasks").click(function () {
            getMeetingName();
        });


        function GetBlinkImg() {
            return "<img src='/Content/Images/blink_square.gif'/>";

        }

        function InitializePaging() {
            var jslink = $("<script src='@Url.Content("~/Scripts/jquery.simplePagination.js")' type='text/javascript'/>");
            $('head').append(jslink);
            $(".assigned").simplePagination();
        }


        function getMeetingName() {

            $('#tasks_meeting_name').children('option:not(:first)').remove();

            var _assign_start_dt = $("#assign_start_date").val();
            var _assign_end_dt = $("#assign_end_date").val();
            var _meeting_department = $("#meeting_department option:selected").text();

            if ((_assign_start_dt == "" || _assign_end_dt == "")) {
                alert("Please fill the details");
            }
            else {

                $.ajax({
                    url: "@Url.Action("ViewMeeting", "MeetingDetails")",
                    type: 'GET',
                    data: "startDate=" + _assign_start_dt + "&endDate=" + _assign_end_dt + "&meetingDepartment=" + _meeting_department,
                    //original-error
                    //data: JSON.stringify({ "startDate": _assign_start_dt, "endDate": _assign_end_dt, "priority": _priority, "status": _status }),
                    dataType: 'JSON',
                    contentType: 'Application/JSON;charset=utf-8',
                    success: function (data) {

                        let width = screen.width;

                        //for general users
                        if (width > '600') {
                            var grid = $("#grid-show-result");

                            var TableStr = '<table id="Assigned" class="table table-bordered assigned col-md-12 col-sm-12 "><thead><tr>' +
                                '<th><center>Meeting Objective</center></th>' +
                                ' <th><center>Chairperson</center></th>' +
                                '<th><center>Date</center></th>' +
                                '<th><center>Time</center></th>' +
                                '<th><center>Duration</center></th>' +
                                '<th><center>Meeting Department</center></th>' +
                                '<th><center>Venue</center></th>' +
                                '<th><center>No Of Participants</center></th></tr></thead>';

                            if (data == null || data == "") {
                                TableStr += "<tr><td colspan='8'>No records found</td></tr>";
                            }
                            else {
                                var _meeting_department = $("#meeting_department option:selected").text();

                                $.each(data, function (taskkey, taskval) {

                                    if (taskval.Meeting_Chairperson == null)
                                        taskval.Meeting_Chairperson = "";
                                    if (taskval.Meeting_Department == null)
                                        taskval.Meeting_Department = "";
                                    if (taskval.Meeting_Venue == null)
                                        taskval.Meeting_Venue = "";
                                    if (taskval.Meeting_No_Of_Participants == null)
                                        taskval.Meeting_No_Of_Participants = "";

                                    //Session["LoggedEmployeeName"].ToString()
                                @*@HttpContext.Current.Session["LoggedEmployeeName"].ToString();*@

                                    TableStr += "<tr class='alert-info'>" +
                                                  @*"<td>" +"<a href='@Url.Action("EditViewMeetingDetails","CreateMeeting")?meetingId=" + taskval.Meeting_Id + "' class='modal-link btn btn-sm' data-toggle='tooltip' title='Edit' data-placement='top' >" + taskval.Meeting_Objective + "</a></td>"+*@

                                        "<td>" + "<a href='@Url.Action("EditViewMeetingDetails","CreateMeeting")?meetingId=" + taskval.Meeting_Id + "' class='modal-link btn btn-sm' data-toggle='tooltip' title='Edit' data-placement='top' >" + taskval.Meeting_Objective + "</a></td>" +

                                        "<td>" + taskval.Meeting_Chairperson + "</td>" +
                                        "<td><center>" + getCustomDay(taskval.Meeting_Date) + "</center></td>" +
                                        "<td><center>" + taskval.Meeting_Time + "</center></td>" +
                                        "<td><center>" + taskval.Meeting_Duration + "</center></td>" +
                                        "<td>" + taskval.Meeting_Department + "</td>" +
                                        "<td>" + taskval.Meeting_Venue + "</td>" +
                                        "<td><center>" + taskval.Meeting_No_Of_Participants + "</center></td>"
                                    "</tr>";
                                    //}
                                });
                            }

                            TableStr += "</table>";
                            grid.html(TableStr);
                            InitializePaging();
                        }

                        //For Mobile Users
                        else
                        {
                            var grid = $("#grid-show-result");

                            var TableStr = '<table id="Assigned" class="table table-bordered assigned col-md-12 col-sm-12 ">' +
                                '<tr><th>Meeting Objective</th></tr>' +
                                '<tr><th>Chairperson</th></tr>' +
                                '<tr><th>Date</th></tr>' +
                                '<tr><th>Time</th></tr>' +
                                '<tr><th>Duration</th></tr>' +
                                '<tr><th>Meeting Department</th></tr>' +
                                '<tr><th>Venue</th><tr>' +
                                '<tr><th>No Of Participants</th></tr>';

                            if (data == null || data == "") {
                                TableStr += "<td rowspan='8'>No records found</td>";
                            }
                            else {
                                var _meeting_department = $("#meeting_department option:selected").text();

                                $.each(data, function (taskkey, taskval) {

                                    if (taskval.Meeting_Chairperson == null)
                                        taskval.Meeting_Chairperson = "";
                                    if (taskval.Meeting_Department == null)
                                        taskval.Meeting_Department = "";
                                    if (taskval.Meeting_Venue == null)
                                        taskval.Meeting_Venue = "";
                                    if (taskval.Meeting_No_Of_Participants == null)
                                        taskval.Meeting_No_Of_Participants = "";

                                    //Session["LoggedEmployeeName"].ToString()
                                @*@HttpContext.Current.Session["LoggedEmployeeName"].ToString();*@

                                    TableStr += 
                                                  @*"<td>" +"<a href='@Url.Action("EditViewMeetingDetails","CreateMeeting")?meetingId=" + taskval.Meeting_Id + "' class='modal-link btn btn-sm' data-toggle='tooltip' title='Edit' data-placement='top' >" + taskval.Meeting_Objective + "</a></td>"+*@

                                        "<td>" + "<a href='@Url.Action("EditViewMeetingDetails","CreateMeeting")?meetingId=" + taskval.Meeting_Id + "' class='modal-link btn btn-sm' data-toggle='tooltip' title='Edit' data-placement='top' >" + taskval.Meeting_Objective + "</a></td>" +

                                        "<td>" + taskval.Meeting_Chairperson + "</td>" +
                                        "<td>" + getCustomDay(taskval.Meeting_Date) + "</td>" +
                                        "<td>" + taskval.Meeting_Time + "</td>" +
                                        "<td>" + taskval.Meeting_Duration + "</td>" +
                                        "<td>" + taskval.Meeting_Department + "</td>" +
                                        "<td>" + taskval.Meeting_Venue + "</td>" +
                                        "<td>" + taskval.Meeting_No_Of_Participants + "</td>"
                                    
                                    //}
                                });
                            }

                            TableStr += "</table>";
                            grid.html(TableStr);
                            InitializePaging();

                        }
                    }
                });
            }
        }
    });

</script>

<script src="~/Scripts/customScript.js"></script>

